name: Build and Push

on:
  push:
    branches: [ "main" ]

jobs:

  build-and-push:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Set date
      id: date
      run: echo "::set-output name=date::$(date +'%m-%d-%Y')"
    - name: Authenticate
      uses: docker/login-action@v1
      with:
        registry: quay.io
        username: ${{ secrets.REGISTRY_USER }}
        password: ${{ secrets.REGISTRY_PASSWORD }}
    - name: Set up Docker Buildx
      run: |
        docker buildx create --use
    - name: Build and Push Docker images
      run: |
        docker buildx build \
          --file ./Containerfile \
          --platform linux/arm64,linux/amd64 \
          --tag quay.io/wizhao/marvell-tools:latest \
          --tag quay.io/wizhao/marvell-tools:${{ steps.date.outputs.date }} \
          --push \
          .
